html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 20px;
}

* {
  box-sizing: border-box;
}
